body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
}

h1 {
  background-color: #347234;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

#recipeDetails {
  margin: 2rem;
}

#recipeDetails h2 {
  color: #347234;
}

#recipeDetails p,
#recipeDetails ul {
  margin-bottom: 1rem;
}

#recipeDetails ul {
  padding-left: 2rem;
}

#recipeDetails li {
  margin-bottom: 0.5rem;
}

#recipeDetails img {
  border-radius: 10px;
  margin-top: 1rem;
}